* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    margin-left: 23px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 231px;
}

nav li {
    list-style: none;
    margin-left: 51px;
}

nav ul {
    display: flex;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.primary-color {
    color: #FD6E0A;
}

.btn-color {
    background-color: #FD6E0A;

    height: 64px;
    border: 0;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    padding: 18px 35px;
}

/* banner degin */
.banner {
    display: flex;
    margin: 0 200px;
    align-items: center;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-discription {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 20px;
}

main {
    max-width: 1140px;
    margin: 0px auto;
}

.about {
    margin: 130px 0px;
    background: #FFF8F3;
    border-radius: 10px;
    text-align: center;
    padding: 130px 150px;


}

.about-title {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #181818;
    margin-bottom: 30px;
}

.about-discription {
    font-weight: 400;
    font-size: 18px;
    color: #757575;

    margin-bottom: 30px;
}

table td {
    width: 250px;
    margin-right: 200px;

}

.des {

    text-align: center;

    color: #181818;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
    /* margin-right: 24px; */
}

.do-description {
    text-align: center;
    padding: 30px 110px 50px;
    color: #757575;
    width: 909px;
}

.skill-container {
    display: flex;
    gap: 24px;
}

.skill-title {
    color: #181818;
    font-weight: 700;
    font-size: 200;
    margin: 30px 0px 20px;
}

.skill-description {
    color: #757575;
}

/* resume css */
.resume-content {
    display: flex;
    gap: 71px;
}

.section-title {
    text-align: center;
    margin: 130px 0px 113px;
}

.resume-title {
    font-weight: 700;
    font-size: 30px;
    color: #474747;

}

.resume-item {
    margin: 30px 0;
}

.resume-item .title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;

}

.resume-item .sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #757575;

}

.resume-btn {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 113px;
}

/* footer */
.footer {
    background: #FFF8F3;
    margin-top: 113px;
}

.contact-title {
    font-weight: 700;
    font-size: 35px;

}

.contact-description {
    font-weight: 400;
    font-size: 16px;
    width: 600px;
    margin-top: 20px;
    margin-bottom: 30px;

}

.contact {

    display: flex;
    gap: 117px;
}

.contact-me {
    margin-left: 130px;
}

.contact-me,
.message {
    margin-top: 130px;
}

.text {
    border: 0;
    font-weight: 400;
    font-size: 16px;
    padding: 18px 200px 18px 30px;
    margin-bottom: 24px;
    display: block;
    /* width: 461px; */
}

.message-title {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 28px;
}